.avatar-dom {
    position: relative;

    >.name {
        position  : absolute;
        left      : -50px;
        top       : 10px;
        width     : 100px;
        font-size : 12px;
        text-align: center;
    }

    >.message {
        position        : absolute;
        left            : -50px;
        bottom          : 114px;
        width           : 100px;
        font-size       : 12px;
        border          : 1px solid #0e0000;
        border-radius   : 4px;
        text-align      : center;
        padding         : 10px;
        background-color: rgba(255, 255, 255, 0.8);
        word-break      : break-all;

        &:before {
            content      : "";
            width        : 0px;
            height       : 0px;
            position     : absolute;
            border-left  : 4px solid transparent;
            border-right : 4px solid transparent;
            border-top   : 4px solid #000000;
            border-bottom: 4px solid transparent;
            right        : calc(50% - 2px);
            bottom       : -8.5px;
        }

        &:after {
            content      : "";
            width        : 0px;
            height       : 0px;
            position     : absolute;
            border-left  : 4px solid transparent;
            border-right : 4px solid transparent;
            border-top   : 4px solid #fff;
            border-bottom: 4px solid transparent;
            right        : calc(50% - 2px);
            bottom       : -7.5px;
        }
    }
}