.bottom-bar {
    width              : 850px;
    height             : 50px;
    background-image   : url("/images/ui/bottom-bar.png");
    background-size    : 850px 31.5px;
    background-position: center bottom;
    background-repeat  : no-repeat;
    display            : flex;
    justify-content    : center;

    >a {
        margin         : 0 20px;
        display        : flex;
        flex-direction : column;
        justify-content: end;
        align-items    : center;
        font-weight    : bold;
        font-size      : 12px;

        >span {
            margin: 5px 0 10px;
        }
    }
}