@import "base.less";

* {
    font-family: bree !important;
}

a {
    color          : inherit;
    text-decoration: inherit;
}

body {
    background-color: #ffd7ea;
    color           : #0e0000;
}

@import "./dialogue/alert.less";
@import "./dialogue/confirm.less";
@import "./dialogue/prompt.less";

@import "./popup.less";
@import "./enter.less";

@import "./avatar-dom.less";
@import "./bottom-bar.less";
@import "./social-panel.less";
@import "./user-panel.less";

@import "./lootbox/lootbox0.less";

@import "./maids/init-maid-popup.less";
@import "./maids/select-maid-popup.less";
@import "./maids/maid-info-popup.less";
@import "./maids/select-item-popup.less";

@import "./store/store-popup.less";
@import "./store/result-popup.less";