/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
* {
  font-family: bree !important;
}
a {
  color: inherit;
  text-decoration: inherit;
}
body {
  background-color: #ffd7ea;
  color: #0e0000;
}
.alert {
  width: 350.5px;
  height: 271.5px;
  margin: auto;
  background-image: url("/images/ui/dialogue/popup-back.png");
  background-size: cover;
  color: #663a3b;
  position: relative;
  padding: 10px;
}
.alert > h1 {
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}
.alert > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 170px;
}
.alert > .confirm-button {
  position: absolute;
  left: calc(50% - 73px);
  bottom: 20px;
  display: block;
  width: 146px;
  height: 31.5px;
  background-image: url("/images/ui/dialogue/confirm.png");
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 6px;
}
.confirm {
  width: 350.5px;
  height: 271.5px;
  margin: auto;
  background-image: url("/images/ui/dialogue/popup-back.png");
  background-size: cover;
  color: #663a3b;
  position: relative;
  padding: 10px;
}
.confirm > h1 {
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}
.confirm > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 170px;
}
.confirm > .confirm-button {
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: block;
  width: 146px;
  height: 31.5px;
  background-image: url("/images/ui/dialogue/confirm.png");
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 6px;
}
.confirm > .cancel-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: block;
  width: 146px;
  height: 31.5px;
  background-image: url("/images/ui/dialogue/cancel.png");
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 6px;
}
.prompt {
  width: 350.5px;
  height: 271.5px;
  margin: auto;
  background-image: url("/images/ui/dialogue/popup-back.png");
  background-size: cover;
  color: #663a3b;
  position: relative;
  padding: 10px;
}
.prompt > h1 {
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}
.prompt > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100px;
}
.prompt > input {
  display: block;
  margin: auto;
  width: 276px;
  height: 38.5px;
  background-color: transparent;
  background-image: url("/images/ui/dialogue/input.png");
  background-size: cover;
  text-align: center;
  font-size: 16px;
}
.prompt > .confirm-button {
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: block;
  width: 146px;
  height: 31.5px;
  background-image: url("/images/ui/dialogue/confirm.png");
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 6px;
}
.prompt > .cancel-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: block;
  width: 146px;
  height: 31.5px;
  background-image: url("/images/ui/dialogue/cancel.png");
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 6px;
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  padding: 20px 0;
}
.enter {
  position: relative;
  width: 350.5px;
  height: 386.5px;
  margin: auto;
  background-image: url("/images/ui/popup-back.png");
  background-size: cover;
  z-index: 999;
}
.enter > header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 38px;
}
.enter > header > h1 {
  color: #663a3b;
  font-weight: bold;
}
.enter > header > p {
  color: #663a3b;
  font-size: 12px;
  border-bottom: 1px dashed #d4b7cb;
  padding: 14px 0;
}
.enter > .content {
  position: absolute;
  padding: 20px 38px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.enter > .content > .discord-login-button {
  display: block;
  width: 277.5px;
  height: 40px;
  background-image: url("/images/ui/login-with-discord.png");
  background-size: cover;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-bottom: 2px;
}
.enter > .content > .connect-wallet-button {
  display: block;
  width: 277.5px;
  height: 40px;
  background-image: url("/images/ui/connect-wallet.png");
  background-size: cover;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-bottom: 2px;
}
.enter > .content > .discord-user,
.enter > .content > .address {
  width: 276px;
  height: 38.5px;
  background-image: url("/images/ui/address.png");
  background-size: cover;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
  color: #ff66bb;
}
.enter > footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 38px;
}
.enter > footer > .continue-button {
  display: block;
  width: 146px;
  height: 31.5px;
  background-image: url("/images/ui/button-active.png");
  background-size: cover;
  color: #fff;
  font-size: 12px;
  margin: auto;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
}
.enter > footer > .continue-button.off {
  background-image: url("/images/ui/button-inactive.png");
}
.enter > footer > .dots {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
.enter > footer > .dots > .dot {
  margin: 0 4px;
  width: 7.5px;
  height: 7.5px;
  background-image: url("/images/ui/phase.png");
  background-size: cover;
}
.enter > footer > .dots > .dot.on {
  background-image: url("/images/ui/phase-now.png");
}
.avatar-dom {
  position: relative;
}
.avatar-dom > .name {
  position: absolute;
  left: -50px;
  top: 10px;
  width: 100px;
  font-size: 12px;
  text-align: center;
}
.avatar-dom > .message {
  position: absolute;
  min-width: 100px;
  bottom: 114px;
  font-size: 12px;
  border: 1px solid #0e0000;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}
.bottom-bar {
  position: relative;
  width: 100%;
  max-width: 850px;
  height: 90px;
}
.bottom-bar > .menu {
  width: 100%;
  height: 50px;
  background-image: url("/images/ui/bottom-bar.png");
  background-size: 850px 31.5px;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.bottom-bar > .menu > a {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
}
.bottom-bar > .menu > a > span {
  margin: 5px 0 10px;
}
.bottom-bar > .chat-bar {
  width: 100%;
  height: 40px;
  background-image: url("/images/ui/message-here.png");
  background-size: contain;
  display: flex;
  align-items: center;
}
.bottom-bar > .chat-bar > a {
  margin: 0 10px;
}
.bottom-bar > .chat-bar > input {
  flex-grow: 1;
  height: 100%;
  background-color: transparent;
}
.bottom-bar > .chat-bar > .send-button {
  width: 61.5px;
  height: 31.5px;
  background-image: url("/images/ui/send.png");
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 6px;
}
.bottom-bar > .chat-history {
  position: absolute;
  width: 100%;
  height: 200px;
  left: 0;
  bottom: 40px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  word-break: break-all;
  padding: 10px 15px;
}
.bottom-bar > .chat-history > .message {
  padding: 5px 0;
}
.bottom-bar > .chat-history > .message > .who {
  margin-right: 5px;
  color: #ff66bb;
}
.social-panel {
  position: relative;
}
.social-panel > .panel {
  position: absolute;
  left: -10px;
  top: -10px;
  padding: 10px;
  width: 180.5px;
  height: 241.5px;
  background-image: url("/images/ui/top-popup.png");
  background-size: cover;
}
.social-panel > .panel > .official-site-button {
  margin: 16px auto;
  display: block;
  width: 146px;
  height: 31.5px;
  background-image: url("/images/ui/button-active.png");
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 6px;
}
.social-panel > .panel > .socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-panel > .panel > .socials > a {
  padding: 0 10px;
}
.user-panel {
  position: relative;
  width: 180.5px;
}
.user-panel > .profile,
.user-panel > .panel > .profile {
  display: flex;
  justify-content: right;
  align-items: center;
}
.user-panel > .profile > span,
.user-panel > .panel > .profile > span {
  margin-right: 10px;
  color: #ff66bb;
}
.user-panel > .panel {
  position: absolute;
  right: -10px;
  top: -10px;
  padding: 10px;
  width: 180.5px;
  height: 241.5px;
  background-image: url("/images/ui/top-popup.png");
  background-size: cover;
}
.user-panel > .panel > .logout-button {
  margin: 16px auto;
  display: block;
  width: 146px;
  height: 31.5px;
  background-image: url("/images/ui/button-white.png");
  background-size: cover;
  text-align: center;
  padding-top: 6px;
  color: #ff66bb;
}
.lootbox0 {
  position: relative;
  width: 326.5px;
  height: 326.5px;
  background-image: url("/images/ui/lootbox/0.png");
  background-size: cover;
}
.lootbox0 > .probability-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 93.5px;
  height: 23.5px;
  background-image: url("/images/ui/probability.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
}
.lootbox0 > .supply-1-button {
  position: absolute;
  left: 12px;
  bottom: 12px;
  width: 146px;
  height: 31.5px;
  background-image: url("/images/ui/button-mint.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
}
.lootbox0 > .supply-1-button > span {
  margin-right: 5px;
}
.lootbox0 > .supply-1-button > .balance {
  display: flex;
  align-items: center;
  color: #627eea;
}
.lootbox0 > .supply-1-button > .balance > img {
  margin-right: 5px;
}
.lootbox0 > .supply-10-button {
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 146px;
  height: 31.5px;
  background-image: url("/images/ui/button-mint.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
}
.lootbox0 > .supply-10-button > span {
  margin-right: 5px;
}
.lootbox0 > .supply-10-button > .balance {
  display: flex;
  align-items: center;
  color: #627eea;
}
.lootbox0 > .supply-10-button > .balance > img {
  margin-right: 5px;
}
.init-maid-popup {
  width: 350.5px;
  height: 386.5px;
  margin: auto;
  background-image: url("/images/ui/select-maid/popup.png");
  background-size: cover;
  color: #663a3b;
  position: relative;
  padding: 20px;
}
.init-maid-popup > h1 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px dashed #d4b7cb;
}
.init-maid-popup > .content {
  position: absolute;
  padding: 74px 38px 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.init-maid-popup > .content > .loading {
  text-align: center;
}
.init-maid-popup > .content > .empty > img {
  display: block;
  margin: auto;
}
.init-maid-popup > .content > .empty > p {
  margin-top: 10px;
  text-align: center;
}
.init-maid-popup > .content > .empty > .mint-button {
  margin-top: 10px;
  display: flex;
  width: 277.5px;
  height: 40px;
  background-image: url("/images/ui/select-maid/mint-button.png");
  background-size: cover;
  padding: 4px 10px;
  align-items: center;
}
.init-maid-popup > .content > .empty > .mint-button > span {
  flex-grow: 1;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding-bottom: 2px;
}
.init-maid-popup > .content > .empty > .reload-button {
  margin: auto;
  margin-top: 32px;
  display: block;
  width: 146px;
  height: 31.5px;
  background-image: url("/images/ui/button-active.png");
  background-size: cover;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
}
.init-maid-popup > .content > .avatars-wrapper {
  height: 260px;
  overflow-y: scroll;
}
.init-maid-popup > .content > .avatars-wrapper > .avatars {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4px;
  padding-right: 4px;
}
.init-maid-popup > .content > .avatars-wrapper > .avatars > .avatar {
  aspect-ratio: 1;
  background-image: url("/images/ui/select-maid/slot.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.init-maid-popup > .content > .avatars-wrapper > .avatars > .avatar > .wrapper {
  text-align: center;
}
.init-maid-popup > .content > .avatars-wrapper > .avatars > .avatar.selected::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/ui/select-maid/slot-selected.png");
  background-size: cover;
}
.init-maid-popup > .content > .continue-button {
  margin: auto;
  margin-top: 10px;
  display: block;
  width: 146px;
  height: 31.5px;
  background-image: url("/images/ui/button-active.png");
  background-size: cover;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
}
.init-maid-popup > .content > .continue-button.off {
  background-image: url("/images/ui/button-inactive.png");
}
.select-maid-popup {
  width: 350.5px;
  height: 386.5px;
  margin: auto;
  background-image: url("/images/ui/select-maid/popup.png");
  background-size: cover;
  color: #663a3b;
  position: relative;
  padding: 20px;
}
.select-maid-popup > h1 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px dashed #d4b7cb;
}
.select-maid-popup > .content {
  position: absolute;
  padding: 74px 38px 64px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.select-maid-popup > .content > .loading {
  text-align: center;
}
.select-maid-popup > .content > .avatars-wrapper {
  height: 260px;
  overflow-y: scroll;
}
.select-maid-popup > .content > .avatars-wrapper > .avatars {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4px;
  padding-right: 4px;
}
.select-maid-popup > .content > .avatars-wrapper > .avatars > .avatar {
  aspect-ratio: 1;
  background-image: url("/images/ui/select-maid/slot.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.select-maid-popup > .content > .avatars-wrapper > .avatars > .avatar > .wrapper {
  text-align: center;
}
.select-maid-popup > .content > .avatars-wrapper > .avatars > .avatar.selected::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/ui/select-maid/slot-selected.png");
  background-size: cover;
}
.select-maid-popup > footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 38px;
}
.select-maid-popup > footer > .close-button {
  margin: auto;
  margin-top: 10px;
  display: block;
  width: 146px;
  height: 31.5px;
  background-image: url("/images/ui/button-active.png");
  background-size: cover;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
}
.maid-info-popup {
  width: 350.5px;
  height: 542px;
  margin: auto;
  background-image: url("/images/ui/popup-large.png");
  background-size: cover;
  color: #663a3b;
  position: relative;
  padding: 20px;
}
.maid-info-popup > h1 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px dashed #d4b7cb;
}
.maid-info-popup > .avatar {
  position: absolute;
  left: 0;
  width: 100%;
  top: 200px;
  text-align: center;
}
.maid-info-popup > .slots > .slot {
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url("/images/ui/select-maid/slot.png");
  background-size: cover;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maid-info-popup > .slots > .slot.hair {
  left: 40px;
  top: 140px;
}
.maid-info-popup > .slots > .slot.eye {
  left: 40px;
  top: 220px;
}
.maid-info-popup > .slots > .slot.skin-color {
  left: 40px;
  top: 300px;
}
.maid-info-popup > .slots > .slot.head-acce {
  right: 40px;
  top: 160px;
}
.maid-info-popup > .slots > .slot.costume {
  right: 40px;
  top: 280px;
}
.maid-info-popup > .slots > .slot > img {
  max-width: 100%;
  max-height: 100%;
}
.maid-info-popup > footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 38px;
}
.maid-info-popup > footer > .select-button {
  margin: auto;
  display: block;
  width: 277.5px;
  height: 40px;
  background-image: url("/images/ui/button-setavatar.png");
  background-size: cover;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
}
.maid-info-popup > footer > .close-button {
  margin: auto;
  margin-top: 10px;
  display: block;
  width: 146px;
  height: 31.5px;
  background-image: url("/images/ui/button-active.png");
  background-size: cover;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
}
.select-item-popup {
  width: 350.5px;
  height: 386.5px;
  margin: auto;
  background-image: url("/images/ui/select-maid/popup.png");
  background-size: cover;
  color: #663a3b;
  position: relative;
  padding: 20px;
}
.select-item-popup > h1 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px dashed #d4b7cb;
}
.select-item-popup > .content {
  position: absolute;
  padding: 74px 38px 64px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.select-item-popup > .content > .loading {
  text-align: center;
}
.select-item-popup > .content > .items-wrapper {
  height: 260px;
  overflow-y: scroll;
}
.select-item-popup > .content > .items-wrapper > .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4px;
  padding-right: 4px;
}
.select-item-popup > .content > .items-wrapper > .items > .item {
  aspect-ratio: 1;
  background-image: url("/images/ui/select-maid/slot.png");
  background-size: cover;
  flex-direction: column;
  position: relative;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-item-popup > .content > .items-wrapper > .items > .item > img {
  max-width: 100%;
  max-height: 100%;
}
.select-item-popup > .content > .items-wrapper > .items > .item.selected::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/ui/select-maid/slot-selected.png");
  background-size: cover;
}
.select-item-popup > footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 38px;
}
.select-item-popup > footer > .close-button {
  margin: auto;
  margin-top: 10px;
  display: block;
  width: 146px;
  height: 31.5px;
  background-image: url("/images/ui/button-active.png");
  background-size: cover;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
}
.store-popup {
  width: 350.5px;
  height: 542px;
  margin: auto;
  background-image: url("/images/ui/popup-large.png");
  background-size: cover;
  color: #663a3b;
  position: relative;
  padding: 20px 12px;
}
.store-popup > header {
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px dashed #d4b7cb;
}
.store-popup > header > h1 {
  font-weight: bold;
  text-align: center;
}
.store-popup > header > .balance {
  position: absolute;
  right: 8px;
  top: 0;
  display: flex;
  align-items: center;
  color: #627eea;
  font-weight: bold;
}
.store-popup > header > .balance > img {
  margin-right: 5px;
}
.store-popup > .content {
  margin-top: 12px;
  height: 410px;
  overflow-y: auto;
}
.store-popup > footer > .close-button {
  margin: auto;
  margin-top: 12px;
  display: block;
  width: 146px;
  height: 31.5px;
  background-image: url("/images/ui/button-active.png");
  background-size: cover;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
}
.result-popup {
  width: 350.5px;
  height: 542px;
  margin: auto;
  background-image: url("/images/ui/popup-large.png");
  background-size: cover;
  color: #663a3b;
  position: relative;
  padding: 20px 12px;
}
.result-popup > h1 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px dashed #d4b7cb;
}
.result-popup > .content {
  margin-top: 12px;
  height: 410px;
  overflow-y: auto;
}
.result-popup > .content > .result {
  width: 325.5px;
  height: 177.5px;
  background-image: url("/images/ui/result-back.png");
  background-size: cover;
  padding-top: 10px;
  margin-bottom: 10px;
}
.result-popup > .content > .result > .avatar {
  display: block;
  margin: auto;
}
.result-popup > .content > .result > .items {
  margin: auto;
  margin-top: 10px;
  width: 268px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
}
.result-popup > .content > .result > .items > .item {
  width: 50px;
  height: 50px;
  background-image: url("/images/ui/select-maid/slot.png");
  background-size: cover;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result-popup > .content > .result > .items > .item > img {
  max-width: 100%;
  max-height: 100%;
}
.result-popup > footer > .close-button {
  margin: auto;
  margin-top: 12px;
  display: block;
  width: 146px;
  height: 31.5px;
  background-image: url("/images/ui/button-active.png");
  background-size: cover;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
}

